**/.env
**/.disabled
**/openvpn/clients
**/ddns-updater/data
**/netdata/config/health_alarm_notify.conf
**/netdata/config/.container-hostname
**/traefik/credentials
**/*.private
**/_*/
**/_*
**/authelia/config/
**/homepage/config/
