version: "3.7"

services:
  ### Wordpress database: MariaDB ###
  wordpress-mariadb:
    image: mariadb
    container_name: wordpress-mariadb
    restart: always
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
    volumes:
      - ${VOLUME_DIR}/wordpress-db:/var/lib/mysql
  ## Wordpress: WordPress is a free and open source blogging tool and a content management system (CMS) based on PHP and MySQL, which runs on a web hosting service ##
  wordpress:
    image: wordpress
    container_name: wordpress
    restart: always
    depends_on:
      - wordpress-mariadb
    environment:
      - WORDPRESS_DB_HOST=wordpress-mariadb:3306
      - WORDPRESS_DB_USER=${MYSQL_USER}
      - WORDPRESS_DB_PASSWORD=${MYSQL_PASSWORD}
      - WORDPRESS_DB_NAME=${MYSQL_DATABASE}
      - WORDPRESS_CONFIG_EXTRA=
          define('WP_MEMORY_LIMIT', '256M');
          define('WP_MAX_MEMORY_LIMIT', '512M');
      - TZ=${TZ}
    volumes:
      - ./config/php.ini:/usr/local/etc/php/php.ini
      - ./config/uploads.ini:/usr/local/etc/php/conf.d/uploads.ini
      - ${VOLUME_DIR}/wordpress-data:/var/www/html
    networks:
      - default
      - traefik-network
    labels:
      ## Watchtower configuration ##
      - com.centurylinklabs.watchtower.enable=true

      ## Diun configuration ##
      - diun.enable=true

      ## Traefik configuration ##
      # Enable Traefik #
      - traefik.enable=true
      - traefik.docker.network=traefik-network

      # Set entrypoint port #
      - traefik.http.services.wordpress.loadbalancer.server.port=80

      # Set HTTP domain and HTTP -> HTTPS redirection #
      - traefik.http.routers.wordpress.rule=Host(`${DOMAIN}`)
      - traefik.http.routers.wordpress.entrypoints=web
      - traefik.http.routers.wordpress.middlewares=https-redirect@file

      # Set HTTPS domain #
      - traefik.http.routers.wordpress-secure.rule=Host(`${DOMAIN}`)
      - traefik.http.routers.wordpress-secure.entrypoints=websecure

networks:
  default:
    name: wordpress-network
  traefik-network:
    external:
      name: traefik-network
