version: "3.7"

services:
  ### vaultwarden: An alternative implementation of the Bitwarden server API written in Rust and compatible with upstream Bitwarden clients ###
  vaultwarden:
    image: vaultwarden/server
    container_name: vaultwarden
    restart: always
    environment:
      - WEBSOCKET_ENABLED=true
      - TZ=${TZ}
    volumes:
      - ${VOLUME_DIR}/vaultwarden-data:/data
    ports:
      - 50000:50000
    networks:
      - default
      - traefik-network
    labels:
      ## Watchtower configuration ##
      - com.centurylinklabs.watchtower.enable=true

      ## Diun configuration ##
      - diun.enable=true

      ## Traefik configuration ##
      # Enable Traefik #
      - traefik.enable=true
      - traefik.docker.network=traefik-network

      # Set entrypoint port #
      - traefik.http.services.vaultwarden-ui.loadbalancer.server.port=80
      - traefik.http.services.vaultwarden-ws.loadbalancer.server.port=3012

      # Set HTTP domain and HTTP -> HTTPS redirection #
      - traefik.http.routers.vaultwarden.rule=Host(`${DOMAIN}`)
      - traefik.http.routers.vaultwarden.service=vaultwarden-ui
      - traefik.http.routers.vaultwarden.entrypoints=web
      - traefik.http.routers.vaultwarden.middlewares=https-redirect@file
      - traefik.http.routers.vaultwarden-websocket.rule=Host(`${DOMAIN}`) && Path(`/notifications/hub`)
      - traefik.http.routers.vaultwarden-websocket.service=vaultwarden-ws
      - traefik.http.routers.vaultwarden-websocket.entrypoints=web
      - traefik.http.routers.vaultwarden-websocket.middlewares=https-redirect@file

      # Set HTTPS domain #
      - traefik.http.routers.vaultwarden-secure.rule=Host(`${DOMAIN}`)
      - traefik.http.routers.vaultwarden-secure.service=vaultwarden-ui
      - traefik.http.routers.vaultwarden-secure.entrypoints=websecure
      - traefik.http.routers.vaultwarden-websocket-secure.rule=Host(`${DOMAIN}`) && Path(`/notifications/hub`)
      - traefik.http.routers.vaultwarden-websocket-secure.service=vaultwarden-ws
      - traefik.http.routers.vaultwarden-websocket-secure.entrypoints=websecure

networks:
  default:
    name: vaultwarden-network
  traefik-network:
    external:
      name: traefik-network
